<!-- no longer using this since the template is being generated in the js -->
<div class="taste-card">

	<div class="taste-photo pull_left">
		
	</div>
	<dl class="pull_left">
		<dt>
			
		</dt>
		<dd>
			
		</dd>
	</dl>

</div>