<div class="taste-card">
	<div class="taste-photo pull_left">
		<%= image_tag "http://d294fov128l8bc.cloudfront.net/foods/photos/8d9d9c2a217711e291f712313922184b/original_1351480813.jpg", height: "auto", width: "100%", title: "Taste Photo" %>
	</div>
	<dl class="pull_left">
		<dt>
			<%= image_tag "http://d294fov128l8bc.cloudfront.net/users/avatars/4e57ef91511dc1268800262c/original_1314385810.jpg", height: "auto", width: "100%", title: "User Avatar" %>
		</dt>
		<dd>User Name</dd>
	</dl>
</div>