body {
	background: $inner-bg url('background-paper-128x128.png') repeat 0 0;
}
section {
	&.container {
		background: url('background-book-1440x1080.jpg') no-repeat 0 0;
		width: 1440px;
		height: 1080px;
		padding-top: 100px;
		// border: 3em solid;
		// -moz-border-image: url('border-image-1544x1126.png') 5% repeat;
		// -webkit-border-image: url('border-image-1544x1126.png') 5% repeat;
		// border-image: url('border-image-1544x1126.png') 5% repeat;
	}
	header.row {
			text-align: center;
			margin-bottom: 20px;
			margin-left: 0;
		h1 {
			background: url('title-tasteBook-161x28.png') no-repeat 0 0;
			height: 28px;
			width: 161px;
			text-indent: -9999px;
			margin: 0 auto 50px;
		}
	}
	article.row {
			width: 1024px;
			margin: 0 auto;
		ul.span3 {
			width: 30%;
			margin: 0 1.5%;
			li {
				margin: 30px auto;
			}
		}
	}
	footer.row {
		width: 205px;
		margin: 20px auto;
		nav {
			width: 100%;
			margin: 0 auto;
			overflow: auto;
		}
		ul {
			width: 50%;
			margin: 0 auto;
			overflow: auto;
		}
		li {
			width: 15%;
			text-align: center;
			display: inline-block;
			a {
				display: inline-block;
				text-indent: -9999px;
				background: black;
				height: 10px;
				width: 10px;
				border-radius: 100%;
			}
		} 
	}
}