section {
	&.container {
			background: $inner-bg url('background-paper-128x128.png') repeat 0 0;
			border: 3em solid;
			-moz-border-image: url('border-image-1544x1126.png') 5% repeat;
			-webkit-border-image: url('border-image-1544x1126.png') 5% repeat;
			border-image: url('border-image-1544x1126.png') 5% repeat;
	}
	article {
		ul.span3 {
			margin: 0 14px;
			li {
				height: 200px;
				margin: 30px auto;
				background: $card-main;
			}
		}
	}
	footer {
		display: block;
		clear: both;
		nav {
			width: 100%;
			margin: 0 auto;
			ul {
				li {
					text-align: center;
					display: inline-block;
				}
			}
		}
	}
}
@media screen and (min-width: 500px){
	section {
		footer {
			nav {
				width: 50%;
			}
		}
	}
}